@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "inter", sans-serif;
}

.container-local {
    display: flex; /* Usar flexbox para o layout */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    margin-top: 150px;
    gap: 50px; /* Espaçamento entre o formulário e o mapa */
}

.form-group {
    margin-bottom: 10px; /* Espaço entre os campos */
}

label {
    display: block; /* Faz o label ocupar toda a largura */
    margin-bottom: 5px; /* Espaço entre o label e o campo */
    font-weight: bold; /* Deixa o texto do label em negrito */
}

input[type="text"],
input[type="email"] {
    width: 400px;
    padding: 5px; /* Espaçamento interno */
    font-size: 14px; /* Tamanho da fonte */
    border: 2px solid #000000; /* Borda do campo */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #E2E2E2;
}

input[type="date"],
input[type="tel"] {
    width: 190px;
    padding: 5px; /* Espaçamento interno */
    font-size: 14px; /* Tamanho da fonte */
    border: 2px solid #000000; /* Borda do campo */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #E2E2E2;
}

input[type="submit"] {
    padding: 10px 174px; /* Espaçamento interno do botão */
    font-size: 14px; /* Tamanho da fonte do botão */
    background-color: #28a745; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: #228b39; /* Cor do botão ao passar o mouse */
}

/* Agrupar os campos de telefone e data na mesma linha */
.form-group-duo {
    display: flex;
    gap: 20px; /* Espaçamento entre os campos */
}

.mapa {
    width: 700px;
}

form h3{
    text-transform: uppercase;
    margin: 0px 10px 15px 0px;
    font-weight: 700;
}




/* Responsividade geral para telas pequenas */
@media (max-width: 1000px) {
    .container-local {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"],
    .form-group input[type="date"] {
        width: 100%; /* Deixa os campos de texto ocuparem toda a largura */
    }

    input[type="submit"] {
        width: 100%;
        padding: 12px 0; /* Ajusta o padding */
    }
}


/* Para telas menores (até 480px) */
@media (max-width: 480px) {
    .container-local {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"],
    .form-group input[type="date"] {
        width: 100%;
    }

    input[type="submit"] {
        width: 100%;
        padding: 14px 0; /* Ajusta o padding */
    }
}
