@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    list-style: none;
}

#rodape {
    margin-top: 100px; /* Espaço de 100px do topo */
    background-color: #e2e2e2; /* Cor de fundo do rodapé */
    padding: 30px 0px 30px 0px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 10px; /* Ajuste o espaçamento entre as colunas */
}

.colunas-rodape {
    padding: 0 100px; /* Adiciona padding interno nas colunas */
    text-align: center; /* Centraliza o conteúdo nas colunas */
}

.colunas-rodape h4 {
    margin-bottom: 20px; /* Margem abaixo do título */
}

/* Para telas menores (até 768px de largura) */
@media (max-width: 1080px) {
    * {
        margin: 0;
        padding: 0;
        gap: 0;
    }

    .footer {
        display: flex;
        gap: 10px; /* Reduz o espaçamento entre as colunas */
        justify-content: center; /* Centraliza as colunas */
    }

  .colunas-rodape {
    padding: 0 30px; /* Adiciona padding interno nas colunas */
    text-align: center; /* Centraliza o conteúdo nas colunas */
}
}


