@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");  
    
    *{
        margin: 0;
        padding: 0; 
        font-family: "inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        list-style: none;
    }
    
    header nav{
        background-color: #f2f2f2;
        padding: 15px 0;
        display: flex; 
        justify-content: space-around;
        align-items: center;
    }
    
    
    .menu{
        list-style: none;
        display: flex;
        gap:100px;
    }
    
    .menu li a{
        text-decoration: none;
        color: #000000;
        padding: 8px;
        border-radius: 10px;
        text-transform: uppercase;
        transition: 0.8s;
    }
    
    .menu li a:hover{
        background-color: #000000;
        color: rgb(255, 255, 255);
        transition: 0.8s;
    }
    
    .logo{
        display: flex;
        width: 70px;
        height: 70px;
    }

    .foto-perfil li a{
        text-decoration: none;
        color: #000000;
        padding: 8px;
        font-size: 35px;
    }
    
    .banner-principal img{
        display: flex;
        width: 100%;
        height: 682px;
        max-width: 1920px;
        max-height: 1080px;

    }
   
    .img-sinopse{
        display: flex;
        width: 100%;
        max-width: 1200px;
        height: 600px;
        padding: 30px 0px; 
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1); /* Sombra para o container */
    }