@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");  
    
    *{
        margin: 0;
        padding: 0; 
        font-family: "inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        list-style: none;
    }
    
    header nav{
        background-color: rgb(255, 255, 255);
        padding: 20px 0;
        display: flex; 
        justify-content: space-around;
        align-items: center;
    }
    
    .menu{
        list-style: none;
        display: flex;
        gap:80px;
        font-size: 20px;
    }
    
    .menu li a{
        text-decoration: none;
        color: #000000;
        padding: 8px;
        text-transform: uppercase;
        transition: 0.6s;
        border-radius: 10px;
    }
    
    .menu li a:hover{
        background-color: #000000;
        color: rgb(255, 255, 255);
        transition: 0.6s;
        border-radius: 10px;
    }
    
    .logo{
        display: flex;
        width: 60px;
        height: 60px;
    }

    .foto-perfil li a{
        text-decoration: none;
        color: #000000;
        padding: 8px;
        font-size: 40px;
    }
    
    .banner-principal img{
        display: flex;
        width: 100%; /* A imagem ocupa 100% da largura do contêiner */
        height: 100%; /* A imagem ocupa 100% da altura do contêiner */
        object-fit: cover; /* Cobre todo o contêiner, mantendo a proporção */
        display: block;
    }
   
    .banner-principal {
        height: calc(100vh - 90px); /* Ajusta a altura do banner subtraindo a altura do cabeçalho */
        overflow: hidden; /* Garante que nada transborde do contêiner */
    }

    .img-sinopse{
        display: flex;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        height: 700px;       
    }
    
    .container{
        display: flex;
        align-items: center;
        width: 100%; /* Largura total */
        padding: 50px 0 0 0;
    }
    
    .text{
        padding-left: 50px; /* Espaçamento à esquerda do texto */
        font-size: 18px;
    }

    .text h2 {
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
        font-weight: 700;
    }
    
   /* Estilização do título da seção */
#carros-destaque .titulo {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;
    font-weight: 700;
}


/* Estilização da imagem do card */
#carros-destaque .foto-card {
    display: block; /* Altera para block para garantir que a imagem ocupe toda a largura do contêiner */
    width: 100%; /* A imagem ocupa toda a largura do card */
    max-height: 280px; /* Altura máxima da imagem */
    object-fit: cover; /* Mantém a proporção da imagem */
}

/* Estilização do contêiner de cards */
.container-cards {
    display: flex; 
    justify-content: center; 
    gap: 80px; /* Ajusta para um espaçamento mais razoável entre os cards */
}

/* Estilização de cada card */
.cards-1 {
    border-radius: 5px; /* Bordas arredondadas */
    width: 300px; /* Largura do card */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa o card */
    background-color: #E2E2E2; /* Adiciona fundo branco para os cards */
}

.cards-1 {
    padding: 0px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards-1:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
}

/* Estilização do figcaption */
#carros-destaque figcaption {
    padding: 10px 10px 5px 10px; /* Ajusta o padding inferior para 5px ou menos */
    display: flex;
    flex-grow: 1; /* Para usar todo o espaço disponível dentro da borda do card */
    flex-direction: column;
}

/* Estilização do título do card */
#carros-destaque figcaption h4 {
    margin: 0 0 20px 0; /* Adiciona margin-bottom para espaço entre título e descrição */
    font-weight: 800;
    font-size: 1.4em; /* Ajusta do tamanho da fonte do título */
}

/* Estilização da descrição do card */
#carros-destaque figcaption p {
    line-height: 1.4; /* Ajusta do espaçamento entre linhas para reduzir o espaço */
    overflow: hidden; /* Esconde o restante da descrição quando passar de 4 linhas */
}

/* limitar a descrição a um número específico de linhas, você pode usar o seguinte: */
#carros-destaque figcaption p {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Máximo de 4 linhas da descrição */
    -webkit-box-orient: vertical;
}


@media (max-width: 1080px) {
    * {
        margin: 0;
        padding: 0;
        gap: 0;
    }
    
    header nav{
        padding: 10px 0 0 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu{
        gap: 10px;
        font-size: 14px;
    }
    
    .logo{
        display: flex;
        width:35px;
        height: 35px;   
    }

    .foto-perfil li a{   
        font-size: 25px;
    }

    .banner-principal{
        height: 40vh;
    }

    .img-sinopse{
        display: none;  
      
    }

     .container{
        display: flex;
        align-items: center;
        width: 90%; /* Largura total */  
    }

    .text{
        padding: 0; /* Espaçamento à esquerda do texto */
        font-size: 14px;
         text-align: center;
    }

    .text h2 {
        margin: 0px 0px 20px 0px;   
    }

    #carros-destaque .titulo {
        padding-top: 50px;
        padding-bottom: 50px;
        font-weight: 700;
    }

    #carros-destaque figcaption h4 {
        margin: 0 0 20px 0; 
        font-weight: 800;
        font-size: 1.2em; 
    }

    .container-cards { 
        gap: 50px; 
        flex-direction: column;
        align-items: center;
        
    }

    .cards-1 {
        width: 70%; 
    }
}
